@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #7054e6;
  --color-secondary: #ef5c72;
  --color-tertiary: #f89321;
  --color-text-secondary: #7d8185;
  --color-text-tertiary: #00c7c4;
  --color-border: rgba(255, 255, 255, 0.1);
  --color-text-common: #191e24;

  &,
  &.light {
    --color-background-primary: #ffffff;
    --color-background-secondary: #f2f8f8;
    --color-text-primary: #191e24;
  }

  &.dark {
    --color-background-primary: #232331;
    --color-background-secondary: #292738;
    --color-text-primary: #ffffff;
  }
}

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  font-family: 'DM Sans', sans-serif;
  height: 200vh;
}
#root {
  @apply h-full;
}

::-webkit-scrollbar {
  @apply h-[6px] w-[6px];
}
::-webkit-scrollbar-track {
  @apply bg-text-primary;
}
::-webkit-scrollbar-thumb {
  @apply bg-background-primary;
}
