@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #7054e6;
  --color-secondary: #f89321;
  --color-text-secondary: #7d8185;
  --color-text-tertiary: #00c7c4;

  &,
  &.light {
    --color-background-primary: #ffffff;
    --color-background-secondary: #f6f6f6;
    --color-text-primary: #191e24;
    --color-border: rgb(219 220 224);
  }

  &.dark {
    --color-background-primary: #232331;
    --color-background-secondary: #292738;
    --color-text-primary: #ffffff;
    --color-border: rgba(255, 255, 255, 0.1);
  }
}

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  font-family: 'DM Sans', sans-serif;
  @apply bg-background-primary h-dvh
}
#root {
  @apply h-full;
}

::-webkit-scrollbar {
  @apply w-[4px];
}
::-webkit-scrollbar-track {
  @apply bg-background-primary;
}
::-webkit-scrollbar-thumb {
  @apply rounded-lg bg-text-primary;
}

::selection {
  @apply bg-text-primary text-background-primary;
}
