@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #7054e6; 
  --color-secondary: #f89321;
  --color-text-secondary: #7d8185;
  --color-text-tertiary: #00c7c4;

  &,
  &.light {
    --color-background-primary: #ffffff;
    --color-background-secondary: #f2f8f8;
    --color-text-primary: #191e24;
    --color-border: rgb(229, 231, 235);
  }

  &.dark {
    --color-background-primary: #232331;
    --color-background-secondary: #292738;
    --color-text-primary: #ffffff;
    --color-border: rgba(255, 255, 255, 0.1);
  }
}

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  font-family: 'DM Sans', sans-serif;
  @apply bg-background-primary transition-colors duration-300;
}
#root {
  @apply h-full;
}

::-webkit-scrollbar {
  @apply h-[6px] w-[6px];
}
::-webkit-scrollbar-track {
  @apply bg-background-primary;
}
::-webkit-scrollbar-thumb {
  @apply bg-text-secondary;
}

::selection {
  @apply bg-text-primary text-background-primary;
}
